{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="{% static 'shops/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shops/fontawesome/css/all.css' %}">
    <title>Venue Search</title>
</head>

<body>
    <div class="container"">
        <form id="getlocations" action="/getlocations/" method="GET">
            {% csrf_token %}
            <div>
                {{location_form.latitude}} {{location_form.longitude}}
            </div>
        </form>
        <div id="map"></div>
        <div class="footer-menu-bar">
            <button type="submit" form="getlocations" class="footer-menu-button-right"><i class="fas fa-map-marker-alt"></i></button>
        </div>
    </div>

    <script>
        let map;
        function initMap(){
            map = new google.maps.Map(document.getElementById('map'),{
                    center : {lat:-34.397, lng:150.644},
                    disableDefaultUI: true,
                    zoom:13
                });

            infoWindow = new google.maps.InfoWindow;

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position){
                    var pos = {
                        lat:position.coords.latitude,
                        lng:position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent("I am here");
                    infoWindow.open(map);
                    map.setCenter(pos);

                    // set the current coordinate position fields to the current latitude and longitude
                    document.getElementById("cur_lat").value = pos.lat;
                    document.getElementById("cur_lng").value = pos.lng;

                },function(){
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasgeolocation, infoWindow, pos){
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasgeolocation ?
                                        'Error : The Geolocation Service has failed.':
                                        'Error : The broswer does not support geolocation.'
                                         );
                infoWindow.open(map)

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoWh5wUM_X54Fa2VFyM5qEA2Sj_-Z0cOc&callback=initMap" async defer></script>
</body>

</html>