{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="{% static 'shops/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shops/fontawesome/css/all.css' %}">
    <title>Venue Search</title>
</head>

<body>
    <div class="container"">
        <form action="/getaddress/" method="GET">
            {% csrf_token %}
            <div>
                {{form.latitude}}
            </div>
            <div>
                {{form.longitude}}
            </div>
            <div>
                {{form.radius}}
            </div>
            <div id="map"></div>
            <div class="footer-menu-bar">
                    <button type="submit" class="footer-menu-button"><i class="fas fa-map-marker-alt"></i></button>   
            </div>
        </form>
    </div>

    <script src="{% static 'shops/main.js'%}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoWh5wUM_X54Fa2VFyM5qEA2Sj_-Z0cOc&callback=initMap" async defer></script>
</body>

</html>