{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="{% static 'shops/style.css' %}">

    <title>Venue Search</title>
</head>

<body>
    <div class="container">
        <form action="/getaddress/" method="GET">
            {% csrf_token %}
            <div>
                {{form.latitude}}
            </div>
            <div>
                {{form.longitude}}
            </div>
            <div>
                {{form.radius}}
            </div>
            <div>
                <ul>
                    {% for shop in shops %}
                    <li>{{shop.name}} is {{shop.distance.km}} km away</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <button type="submit" class="wide_input button">...find events</button>
            </div>
        </form>
    </div>

</body>

</html>