*{
    margin:0;
    padding:0;
}

.container{
    width:100%;
    margin: auto;
}

#map {
    height: 92vh;
}

.full-width {
    width:100%;
}

.menu-buttons{
    position:fixed;
    bottom:0;
    left:0;
    background-color: grey;
    width: 100%;
    height:8vh;
}


